<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form [formGroup]="aFormGroup" (ngSubmit)="onSubmit()">
                  <h1>Forget Password</h1>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-envelope"></i></span>
                    </div>
                    <input type="email" formControlName="email" class="form-control" placeholder="Enter your Email" autocomplete="email" required>
                    <span class="custom-validation-error w-100"
                      *ngIf="(passwordFormControl.email.touched || submitted) && passwordFormControl.email.errors?.required">
                        Email is required
                    </span>
                  </div>
                  <div class="input-group mb-4">
                    <ngx-recaptcha2 #captchaElem
                                    siteKey="6LfZNP8ZAAAAAGUrryZ5S580oMheitUhT9bnf3vA"
                                    [useGlobalDomain]="false"
                                    [size]="size"
                                    [hl]="lang"
                                    [theme]="theme"
                                    [type]="type"
                                    formControlName="recaptcha">
                    </ngx-recaptcha2>
                  </div>
                  <button type="submit" [disabled]='aFormGroup.invalid' class="btn btn-block btn-success">Send Email</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
