<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form [formGroup]="aFormGroup" (ngSubmit)="onSubmit()">
                  <h1>Forget Password</h1>
                  <p class="text-muted">If you have forgotten the password you can reset it here</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-envelope"></i></span>
                    </div>
                    <input type="text" formControlName="email" class="form-control" placeholder="Enter your Email" autocomplete="email" required>
                    <span class="custom-validation-error w-100" *ngIf="((passwordFormControl.email.invalid && passwordFormControl.email.touched) || passwordFormControl.email.dirty) && passwordFormControl.email.errors?.required">Email is required</span>
                    <span class="custom-validation-error w-100" *ngIf="((passwordFormControl.email.invalid && passwordFormControl.email.touched) || passwordFormControl.email.dirty) && passwordFormControl.email.errors?.pattern">Please provide a valid email address</span>
                  </div>
                  <p class="text-muted">Password reset instructions will be sent to your registered email address.</p>
                  <div class="input-group mb-4">
                    <ngx-recaptcha2 #captchaElem
                                    siteKey="6LfZNP8ZAAAAAGUrryZ5S580oMheitUhT9bnf3vA"
                                    [useGlobalDomain]="false"
                                    [size]="size"
                                    [hl]="lang"
                                    [theme]="theme"
                                    [type]="type"
                                    formControlName="recaptcha">
                    </ngx-recaptcha2>
                  </div>
                  <button type="submit" [disabled]='aFormGroup.invalid' [routerLink]="['/login']" class="btn btn-block btn-success">Send Email</button>
                </form>
              </div>
              <div class="row">
                <div class="col-12 text-center">
                  <button type="button" class="btn btn-link px-0"  [routerLink]="['/login']">Back To Login</button>
                </div>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <img class="img-fluid" src="assets/img/logo.png" alt="logo image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
