<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="aFormGroup" (ngSubmit)="onSubmit()">
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-credit-card"></i></span>
                  </div>
                  <select type="text" formControlName= "accountType" class="form-control" placeholder="Account Type" autocomplete="accountType" required>
                    <option value="default">Select Account Type</option>
                    <option value="nrva-current">NRVA Current - Conventional</option>
                    <option value="nrva-saving">NRVA Saving - Conventional</option>
                    <option value="nrva-current-islamic">NRVA Current - Islamic</option>
                    <option value="narva-saving-islamic">NRVA Saving – Islamic</option>
                    <option value="fcva-current">FCVA Current - Conventional</option>
                    <option value="fcva-saving">FCVA Saving - Conventional</option>
                    <option value="fcva-current-islamic"> FCVA Current - Islamic</option>
                    <option value="fcva-saving-islamic"> FCVA Saving – Islamic</option>
                  </select>
                  <span class="custom-validation-error w-100"
                        *ngIf="(registerFormControl.accountType.touched || submitted) && registerFormControl.accountType.errors?.required">
                      Account Type is required
                  </span>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-money"></i></span>
                  </div>
                  <select type="text" formControlName= "currency" class="form-control" placeholder="Select Currency" autocomplete="accountType" required>
                    <option value="default">Select Currency</option>
                    <option value="pkr">PKR</option>
                    <option value="usd">USD</option>
                    <option value="gbp">GBP</option>
                    <option value="eur">EUR</option>
                    <option value="jpy">JPY</option>
                    <option value="cad">CAD</option>
                    <option value="aed">aed</option>
                    <option value="sar">sar</option>
                    <option value="cny">CNY</option>
                    <option value="chf">CHF</option>
                    <option value="try">TRY</option>
                  </select>
                  <span class="custom-validation-error w-100"
                        *ngIf="(registerFormControl.currency.touched || submitted) && registerFormControl.currency.errors?.required">
                      Currency is required
                  </span>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" formControlName= "fullName" class="form-control" placeholder="Full Name" autocomplete="fullname" required>
                  <span class="custom-validation-error w-100"
                        *ngIf="(registerFormControl.fullName.touched || submitted) && registerFormControl.fullName.errors?.required">
                      Full Name is required
                  </span>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-id-card-o"></i></span>
                  </div>
                  <input type="text"  formControlName= "cnic" class="form-control" placeholder="CNIC Number" autocomplete="cnic" required>
                  <span class="custom-validation-error w-100"
                        *ngIf="(registerFormControl.cnic.touched || submitted) && registerFormControl.cnic.errors?.required">
                      CNIC is required
                  </span>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="email"  formControlName= "email" class="form-control" placeholder="Email" autocomplete="email" required>
                  <span class="custom-validation-error w-100"
                        *ngIf="(registerFormControl.email.touched || submitted) && registerFormControl.email.errors?.required">
                      Email is required
                  </span>
                </div>
                <div class="form-group row">
                  <div class="col-md-12 col-form-label">
                    <div class="form-check">
                      <input class="form-check-input" id="checkbox1" type="checkbox" placeholder="" autocomplete="nonResident" >
                      <label class="form-check-label text-muted" for="checkbox1">
                        Are you a Non-Resident Pakistani or official of Federal/ Provincial Govt posted abroad?
                      </label>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-4">
                  <ngx-recaptcha2 #captchaElem
                                  siteKey="6LfZNP8ZAAAAAGUrryZ5S580oMheitUhT9bnf3vA"
                                  [useGlobalDomain]="false"
                                  [size]="size"
                                  [hl]="lang"
                                  [theme]="theme"
                                  [type]="type"
                                  formControlName="recaptcha">
                  </ngx-recaptcha2>
                </div>
                <button type="submit" [disabled]='aFormGroup.invalid' class="btn btn-block btn-success" id="account_id" (click)="showOtp()">Create Account</button>
                <br>
                <div class="form-group mb-3" id="otp" style="display: none;" >
                  <input type="text" class="form-control" placeholder="Enter your OTP" >
                </div>
              </form>
            </div>
<!--            <div class="card-footer p-4">-->
<!--              <div class="row">-->
<!--                <div class="col-6">-->
<!--                  <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>-->
<!--                </div>-->
<!--                <div class="col-6">-->
<!--                  <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
