<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="aFormGroup" (ngSubmit)="onSubmit()">
                <h1>OTP Verification</h1>
                <p class="text-muted">OTP has been sent to your email. Please enter it below.</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="text" formControlName="otp" class="form-control" placeholder="Enter your OTP" >
                  <span class="custom-validation-error w-100"
                      *ngIf="(registerFormControl.otp.touched || submitted) && registerFormControl.otp.errors?.required">
                      OTP is required
                  </span>
                </div>
                <button type="submit" [disabled]='aFormGroup.invalid' class="btn btn-block btn-success" [routerLink]="['/dashboard']">Verify OTP</button>
              </form>
              <div class="row text-center" style="margin-top: 10px;">
                <div class="col-12">
                  I didn't get the OTP yet!
                  <button type="button" class="btn btn-link px-0">Resend OTP</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </main>
</div>
