<ng-template #otpModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="app-body">
      <main class="main d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <div class="card mx-4">
                <div class="card-body p-4">
                  <form [formGroup]="aFormGroup" (ngSubmit)="onSubmit()">
                    <p class="text-muted">Please verify your OTP</p>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                      </div>
                      <input type="text" formControlName="otp" class="form-control" placeholder="Enter your OTP" >
                      <span class="custom-validation-error w-100"
                            *ngIf="(registerFormControl.otp.touched || submitted) && registerFormControl.otp.errors?.required">
                      OTP is required
                  </span>
                    </div>

                    <button type="submit" [disabled]='aFormGroup.invalid' class="btn btn-block btn-success" [routerLink]="['/dashboard']">Verify OTP</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</ng-template>
